In [32]:
import pandas as pd

import numpy as np

In [33]:
df1=pd.read_csv('datasets.csv')
df1.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [34]:
df1.tail(5)

,datasetName,about,link,categoryName,cloud,vintage
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [35]:
df1.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

In [36]:
df1=df1.drop("datasetName",axis=1)

In [37]:
df1.head()

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [38]:
df1.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

In [39]:
df1.shape

(61, 5)

In [40]:
duplicate_rows_df1=df1[df1.duplicated()]
print("no of duplicates rows:",duplicate_rows_df1)

no of duplicates rows: Empty DataFrame
Columns: [about, link, categoryName, cloud, vintage]
Index: []

In [41]:
df1.count()

about           61
link            61
categoryName    61
cloud           24
vintage         31
dtype: int64

In [42]:
df1=df1.drop_duplicates()
df1.head(5)

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [29]:
df1.shape

(61, 6)

In [48]:
print(df1.isnull().sum())

about           0
link            0
categoryName    0
cloud           0
vintage         0
dtype: int64

In [46]:
df1=df1.dropna()
df1.count()

about           2
link            2
categoryName    2
cloud           2
vintage         2
dtype: int64

In [47]:
df1

,about,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0